@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
    display: block;
    background-color: rgb(244, 244, 248);
}
.nav{

    display: flex;
    justify-content: space-between;
    align-content: center;
    background:#facc42;
    border-color: #000000;
    border-style: solid;
    border-width: 0.3rem;
    border-top:none ;
    border-left:none ;
    border-right: none;
    padding: 1.8rem 1rem;

}

.logo a{
    
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
}

.logo-main{
    position:relative;
    left: 1%;
    top: 65%;
    padding: 15rem 15rem;
    background-size: 100%;
    background-image: url(../img/logo_2.png);
    background-position: center;
    background-repeat: no-repeat;
}



.nav ul{
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.nav li{
    list-style: none;

}
.nav a{
    text-decoration: none;
    color: rgb(15, 14, 14);
    padding-right:2em;
    text-transform: uppercase;
    font-size: 1em;

}
.nav a:hover{
    color: #ffffff;
    letter-spacing: 2px;
}
.toggle{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
.bar{
    width: 100%;
    background: #fff;
    height: 3px;
}

.bx-arrow-back{
    font-size: 2em;

}
